:root
{
    font-family: system-ui, sans-serif;
    color-scheme: normal;
}

@media print
{
    @page
    {
        size: auto;
    }

    body
    {
        font-size: 6pt;
        columns: 2
    }

    body.month
    {
        font-size: initial;
        columns: initial;
    }
}
