:root
{
    font-family: system-ui, sans-serif;
    color-scheme: normal;
}

@media print
{
    @page
    {
        size: auto;
        margin: auto;
    }
}

@media print and (orientation: portrait)
{
    body
    {
        font-size: 6pt;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 12pt;
    }
}

@media print and (orientation: landscape)
{
    body
    {
        font-size: 12pt;
    }
}
