:root
{
    font-family: system-ui, sans-serif;
    color-scheme: normal;
}

@media print
{
    @page
    {
        size: auto;
    }
}

@media print and (orientation: portrait)
{
    body
    {
        font-size: 6pt;
        columns: 2
    }
}

@media print and (orientation: landscape)
{
    body
    {
        font-size: 12pt;
        columns: initial;
    }
}
